/* #region COMMON */
* {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 10px;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: "Bubblegum Sans";
    font-style: normal;
    font-variant: normal;
}

h1 {
    color: #5072B0;
    font-size: 50px;
    padding: 10px;
}

h2 {
    font-size: 40px;
    color: #5072B0;
    background-color: #DCEBF9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

/* #endregion COMMON */

/* #region HEADER */
header {
    background: #DCEBF9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav {
    width: 100%;
    background-color: #5072B0;
    border-radius: 10px;
    
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
    border-style: solid;
    border-width: 1px;
    border-color: #5072B0;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

ul li a {
    color: #DCEBF9;
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    padding: .5rem;
}

ul li a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}
/* #endregion HEADER */

/* #region BODY */
main {
    font-size: 1.2rem;
    font-family: "Scope One";
    background-color: #cdeeaa;
    border-radius: 10px;
}

.hero {
    position: relative;
    padding: 10px;
}

.page-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 1rem;
    
}

section {
    display: block;
}

.objective,
.why,
.join-us {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
    padding: 10px;
}

.raft-photo {
    grid-column: 2/3;
    grid-row: 1/3;
}

.why-title {
    grid-column: 2/3;
    grid-row: 1/2;
}

.why-content {
    grid-column: 2/3;
    grid-row: 2/3;
}

.rafting-photo {
    grid-row: 1/3;
}
/* #endregion BODY */

/* #region PRICING */
.name1,
.name2,
.name3 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px;
    font-family: "Bubblegum Sans";
    background-color: #DCEBF9;
    color: #5072B0;
}

.location1,
.location2,
.location3 {
    display: grid;
    text-align: center;
    justify-items: center;
    grid-gap: 1rem;
    padding: 10px;
}

.photo1,
.photo2,
.photo3 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.description1,
.description2,
.description3 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.pricing1,
.pricing2,
.pricing3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.book-now{
    display: block;
    align-self: center;
    grid-column: 3/4;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    color: #DCEBF9;
    background-color: #5072B0;
}

/* #endregion PRICING */

/* #region FAQ */

.questions {
    display: grid;
    padding: 10px;
    box-sizing: inherit;
    align-items: center;
    justify-content: center;
}

.accordion-questions{
    grid-column: 2/3;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 10px;
}

.accordion-item {
    background-color: #F5FCEE;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px #000000;
}

.accordion-link {
    font-size: 1.5rem;
    color: #5072B0;
    background-color: #F5FCEE;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.accordion-link .up-symbol {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #cdeeaa;
    border-radius: 10px;
    
}

.answer::before {
    content: "";
    position: absolute;
    width: .5rem;
    height: 90%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    font-size: 1.3rem;
    color: #5072B0;
    padding: 10px;
}

.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .down-symbol {
    display: none;
}

.accordion-item:target .accordion-link .up-symbol {
    display: block;
}

.more-questions {
    display: grid;
    grid-gap: 5px;
    padding: 5rem;
    align-items: center;
    justify-items: center;
}

.help-ticket {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10px;
    border-radius: 10px;
    background-color: #F5FCEE;
}

.submit {
    display: block;
    background-color: #5072B0;
    color: #DCEBF9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.or {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
}

.contact {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 10px;
    border-radius: 10px;
    background-color: #F5FCEE;
}

/* #endregion FAQ */

/* #region FOOTER */
footer {
    background-color: #DCEBF9;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div a {
    padding: .5rem;
}
/* #endregion FOOTER */