* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cdeeaa;
}

header{
    background-color: #90c2e7;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #90c2e7;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

h1{
    color: #ffffff;
    font-family: "Bubblegum Sans";
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
}

main{
    font-size: 16px;
    font-family: "Scope One";
    font-style: normal;
    font-variant: normal;
}

a {
    color: #cdeeaa;
    font-family: "Scope One";
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
}

/* Class Selectors ******************************************/

.page {
    max-width: 960px;
    margin: 0 auto;
}

a.imagelink {
    text-decoration: none;
}