/* #region COMMON */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cdeeaa;
}

/* #endregion COMMON */

/* #region HEADER */

header{
    background-color: #90c2e7;
    display: grid;
    grid-template-columns: 125px 1fr 1fr;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    list-style: none;
}

a{
    padding: 1rem;
    display: block;
    text-decoration: none;
}

/* #endregion HEADER */

footer {
    background-color: #90c2e7;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

h1{
    color: #ffffff;
    font-family: "Bubblegum Sans";
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    padding: 10px;
}

h2{
    color: #4e8098;
    font-family: "Bubblegum Sans";
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
}

main{
    font-size: 16px;
    font-family: "Scope One";
    font-style: normal;
    font-variant: normal;
}


/* Class Selectors ******************************************/

.page {
    max-width: 960px;
    margin: 0 auto;
}
